@{
    ViewBag.Title = "首页";
}


@Styles.Render("~/Content/BootstrapTable")
@Scripts.Render("~/bundles/BootstrapTable")
@Styles.Render("~/Content/daterangepicker")
@Scripts.Render("~/bundles/daterangepicker")

<script type="text/javascript">
        $(function() {
            initTable();

            $('input[name="daterange"]').daterangepicker(
                {
                    autoUpdateInput: false
                },
                function (start, end, label) {
                    $('input[name="daterange"]').val(start.format('YYYY-MM-DD') + '—' + end.format('YYYY-MM-DD'));
                }
            );

            $(".fa-search").click(function () {
                $table.bootstrapTable('refresh');
                return false;
            });



        });

        function initTable() {
                    var queryUrl = '@Url.Content("~/Customers/GetLists")' + '?rnd=' + +Math.random();
                    $table = $("#showData").bootstrapTable({
                        columns: [
                            {
                                'title': 'state',
                                checkbox: true,
                                align: 'center',
                                valign: 'middle'
                            },
                            {
                                'title': 'S_StuNo', 'field': 'CustomerID', align: 'center', sortable: true
                            },
                            {
                                'title': 'S_Name', 'field': 'FirstName', align: 'center', sortable: true,
                                editable: {
                                    type: 'text',
                                    title: '1:正常,2:缺货',
                                    validate: function (v) {
                                        if (isNaN(v)) return '必须是数字';
                                        var status = parseInt(v);
                                        if (status <= 0 || status > 2) return '必须1或者2';
                                    }
                                }
                            },
                            {
                                'title': '操作', 'field': 'CustomerID', align: 'center',
                                formatter: function (value, row, index) {

                                }
                            }
                        ],
                        url: queryUrl,
                        method: 'post',
                        toolbar: '#toolbar',
                        contentType: "application/x-www-form-urlencoded",
                        search: false,
                        sortName: 'LastName',
                        idField: 'LastName',
                        uniqueId: 'LastName',
                        pagination: true,
                        showFooter: false,
                        showFullscreen:false,
                        sortOrder: 'desc',
                        sortable: true,
                        showExport: true,
                        exportDataType: "basic",
                        pageSize: 10,
                        pageNumber: 1,
                        locale: 'zh-CN',
                        showColumns:true,
                        detailView: false,
                        showRefresh: true,
                        sidePagination: "server",
                        showToggle: true,
                        exportTypes: ['excel', 'pdf','json','txt', 'sql'],
                        classes:"table table-no-bordered",// Table Style
                        pageList: [20, 50, 100, 500, 1000, 2000],
                        queryParams: function (params) { return queryParamsFormatter(params) },
                        onLoadSuccess: function (data) {  },
                        onRefresh: function (params) {  },
                        onPageChange: function (number, size) { },
                        onLoadError: function (status) { },
                        onEditableSave: function (field, row, oldValue, $el) {
                            onEditableSave(field, row, oldValue, $el);
                        },
                        onSort: function (name, order) {
                        },
                        onCheck: function (row, $el) {
                        },
                        onCheckAll: function (row) {
                        },
                        onUncheck: function (row, $el) {
                        },
                        onUncheckAll: function (row) {
                        },
                        onCheckSome: function (row) {
                        },
                        onUncheckSome: function (row) {
                        },
                        exportOptions: {
                            fileName: '@ViewBag.Title',
                            displayTableName: true,
                            tableName: '@ViewBag.Title',
                            ignoreColumn: [0, 1],
                            pdfmake: {
                                enabled: true,
                                docDefinition: {
                                    header: {
                                        columns: [
                                            { text: '@ViewBag.Title', alignment: 'center' }
                                        ]
                                    },
                                    footer: {
                                        columns: [
                                            { text: (new Date()).toLocaleString(), alignment: 'center' }
                                        ]
                                    },
                                    pageOrientation: "portrait",
                                    defaultStyle: {
                                        font: "fzytk"
                                    },
                                    styles: {
                                        header: {
                                            fontSize: 22,
                                            bold: true,
                                            alignment: 'center'
                                        },
                                        anotherStyle: {
                                            italics: true,
                                            alignment: 'center'
                                        }
                                    }
                                },
                            }
                        }
            });
        }

        //查询参数
        function queryParamsFormatter(params) {
            return {
                pageSize: params.limit,
                pageIndex: (params.offset / params.limit) + 1,
                search: $("input[name='search']").val(),
                order: params.order,
                orderName: params.sort,
                dateTime: $("input[name='daterange']").val()
            }
        }

        //求和
        function sumFormatter(data) {
            var field = this.field;
            return (data.reduce(function (sum, row) {
                return sum + (+row[field]);
            }, 0)).toFixed(2);
        }

        //修改表记录
        function onEditableSave(field, row, oldValue, $el) {
                $.ajax({
                    type: "POST",
                    url: "/LogInfo/Modify",
                    data: row,
                    success: function(res) {
                        $table.bootstrapTable('refresh');
                        if (res.Status == "ok") {
                            alert(res.Message);
                        } else {
                            alert(res.Message);
                        }
                    }, error: function () {
                    }
                });
    }

    //Remove Items
    function remove() {
        var items = $table.bootstrapTable('getSelections');
    }

    //
    function totalTextFormatter(data) {
        return 'Total';
    }
</script>

<div class="well">
    <div class="panel-body" style="width:100%;">
        <div id="toolbar" class="input-group smart-form">
            <div class="input-group">
                <label class="input">
                    <i class="icon-prepend fa fa-calendar"></i>
                    <i class="icon-append fa fa-search"></i>
                    <input type="text" class="form-control" name="daterange" placeholder="时间">
                </label>
                <label class="input marginLeft15">
                    <i class="icon-append fa fa-search"></i>
                    <input type="text" class="form-control" placeholder="关键字" name="search">
                </label>
                <button type="button" class="btn btn-default marginLeft15"><i class="fa fa-plus"></i>&nbsp;添加</button>
                <button type="button"  onclick="remove();" class="btn btn-default marginLeft15"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>
            </div>
            
        </div>
        <table id="showData"></table>
    </div>
</div>